
.cart__item {
    padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid red;

}

.cart__img {
    /* display: none; */
    max-width: 68px;
    max-height: 100px;
}



.cart__button {
    max-height: 48px;
    justify-self: flex-end;
}

